{% include "common/header.twig" %}

<header class="container author-header outer-shadow">
    <img src="../img/main-logo.png" alt=""><h1>archigame</h1>
</header>
<main class="container author-element outer-shadow">
    <img src="img/authors/architektur.png" alt="">
    <h1>Oskar 'archi_tektur' Barcz</h1>
    <p class="author-element-subtitle">PROGRAMISTA, FABUŁA</p>
    <h2>Kuba Krzyski</h2>
    <p class="author-element-subtitle">FABUŁA</p>
    <p class="author-element-website"><a href="https://www.archi-tektur.pl"  target="_blank">www.archi-tektur.pl</a></p>
</main>
<footer class="container author-footer outer-shadow">
    <a class="link-as-button" href="/menu">Powrót do menu</a>
</footer>

{% include "common/footer.twig" %}