{% include "common/header.twig" %}

<main class="container about-element outer-shadow">
    <img src="img/main-logo.png" alt="">
    <p>Prosta, mająca być śmieszna (wyszło jak wyszło) gra o tematyce wszystkiego. Przygotowana na GameJam'ie organizowanym przez ZSŻŚ.</p>
    <p>Stack technologiczny: OOP PHP 7.2, Twig 2.2 jako menedżer szablonów, autorski framework ArchFW, baza danych MySQL.</p>
    <p>Dziękujemy społeczności StackOverflow za rozwiązywanie naszych dzielnych problemów, szukaliśmy rozwiązań w dokumentacji, stronach o PHP, forach, stronach rządowych, policji, wojska, marsjan - a rozwiązanie było pierwszym wynikiem który zazwyczaj się pomija.</p>
    <p>Nie mam pojęcia co tu jeszcze napisać - stwórz sobie konto i graj do woli ;)</p>
</main>
<footer class="container about-footer outer-shadow">
    <a class="link-as-button" href="/menu">Powrót do menu</a>
</footer>

{% include "common/footer.twig" %}