{% include "common/header.twig" %}

<header class="container card-header outer-shadow">
    <img src="../img/main-logo.png" alt="archigame"><h1>archigame</h1>
</header>
<main class="container card-element outer-shadow">
    <h2><span class="fas fa-file fa-fw"></span> Karta nr {{number}}</h2>
    <p>Budzisz się. Patrzysz we wszystkie strony, znasz skądś to miejsce. Boli Cię strasznie głowa, leżysz kulturalnie na ławeczce. Co gorsza - leżysz kompletnie nagi. Na dworze jest jeszcze ciemno, ale powoli się przejaśnia. Byłeś tu - to kozielski rynek! Widzisz powoli idących w Twoją stronę strażników miejskich, no jak nic będzie mandat...</p>
</main>
<nav class="container card-element outer-shadow">
    <h2>Co możesz teraz zrobić:</h2>
    <a class="card-element-link" href="/card/1"><span class="fas fa-angle-right fa-fw"></span>Idziesz na piwo</a>
    <a class="card-element-link" href="/card/1"><span class="fas fa-angle-right fa-fw"></span>Szukasz ubrań na szybko</a>
    <a class="card-element-link" href="/card/1"><span class="fas fa-angle-right fa-fw"></span>Kładziesz się na drugi bok i śpisz dalej</a>
    <a class="card-element-link" href="/card/1"><span class="fas fa-angle-right fa-fw"></span>Próbujesz rozmawiać ze strażnikami...</a>
</nav>
<nav class="container outer-shadow">
        <a class="link-as-button" href="/menu">Zacznij od początku</a>
    </nav>
<footer class="container card-footer outer-shadow">
    <p>Oskar Barcz &amp; Kuba Krzyski &copy; 2018</p>
</footer>

{% include "common/footer.twig" %}