{% include "common/header.twig" %}

<header class="container card-header outer-shadow">
    <img src="../img/main-logo.png" alt="archigame"><h1>archigame</h1>
</header>
<main class="container card-element outer-shadow">
    <h2><span class="fas fa-file fa-fw"></span> Karta nr {{card.id}}</h2>
    <p>{{card.textContent}}</p>
</main>
<nav class="container card-element outer-shadow">
    {% if links %}
        <h2>Co możesz teraz zrobić:</h2>
        {% for key, content in links %}
            <a class="card-element-link" href="/card/{{key}}"><span class="fas fa-angle-right fa-fw"></span>{{content}}</a>
        {% endfor %}
    {% else %}
        <h2>Nic nie możesz zrobić :/</h2>
        <a class="card-element-link" href="/start"><span class="fas fa-angle-right fa-fw"></span>Znaczy możesz, zawsze możesz zacząć od zera...</a>
    {% endif %}
    
</nav>
<nav class="container outer-shadow">
        <a class="link-as-button" href="/menu">Zacznij od początku</a>
    </nav>
<footer class="container card-footer outer-shadow">
    <p>Oskar Barcz &amp; Kuba Krzyski &copy; 2018</p>
</footer>

{% include "common/footer.twig" %}