{% include "common/header.twig" %}

<header class="container login-header outer-shadow">
    <img src="img/main-logo.png" alt="">
</header>

<main class="container login-element outer-shadow">

</main>

<aside class="container login-warning outer-shadow">
sesggrgrrttrrdgrdg
</aside>

{% include "common/footer.twig" %}