{% include "common/header.twig" %}

<header class="container menu-header outer-shadow">
    <img src="../img/main-logo.png" alt="archigame"><h1>archigame</h1>
</header>
<nav class="container menu-element outer-shadow">
    <p>Prosta, kontrowersyjna gra tekstowa potrafi dostarczyć tyle rozrywki. Odważysz się zagrać?</p>
    {% if login %}
        <a class="link-as-button" href="/login">Zaloguj</a>
        <a class="link-as-button" href="/register">Zarejestruj się</a>
    {% endif %}
    {% if menu %}
        <a class="link-as-button" href="/start">Zaczynamy?</a>
        <a class="link-as-button" href="/authors">Autorzy</a>
        <a class="link-as-button" href="/about">O grze</a>
        <a class="link-as-button" href="/logoff">Wyloguj</a>
    {% endif %}
</nav>
{% if menu %}
    <aside class="container menu-info outer-shadow">
        <h2>Zalogowano</h2>
        <span class="fas fa-user fa-fw"></span>nazwa usera
    </aside>
{% endif %}
<footer class="container menu-footer outer-shadow">
    <p>Oskar Barcz &copy; 2018</p>
</footer>
    

{% include "common/footer.twig" %}